

.contenedor-card {
    width: 15vw;
    background-color: #f9c039;
    border-radius: 10px;
    display: flex;
    flex-direction: column; /* Organiza los elementos en una columna */
    align-items: center; /* Centra los elementos horizontalmente */
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.recipe-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover; /* Asegura que la imagen mantenga su proporción */
}

.toda-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinea el contenido a la izquierda */
}

.card-content {
    
    width: 100%;
    margin-top: 10px;
}

.datos {
    display: flex;
    justify-content: space-between; /* Distribuye los elementos de forma equitativa */
    align-items: center;
    width: 100%;
    margin-top: auto; /* Empuja esta sección hacia la parte inferior */
}

.reloj {
    display: flex;
    align-items: center;
}

.corazon-info {
    display: flex;
    align-items: center;
}

.botonMasInfo {
    background-color: #b4b2b2;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.8em;
}
