.dropdown-menu {
    position: relative;
    
  }
  
  .submenu {
    display: none;
    position: absolute;
    top: 0;
    left: 100%; 
    margin-left: 0.1rem;
    margin-top: -0.5rem;
    background-color: #f5eeee;
    border: 1px solid #ddd;
  }
  
  .btn-weeklyMenu {
      background-color: #ff7f00;
      color: white;
      border: none;
      padding: 10px 20px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
  }
  .btn-weeklyMenu:hover {
    background-color: #e06b00;
  }

  .dropdown-item:hover .submenu {
    display: block; 
  }
  
  .submenu .dropdown-item {
    white-space: nowrap;
    padding-left: 20px;
  }
  
 /* .dropdown-item {
    position: relative;
  }*/
  
  .dropdown-item::after {
    
    position: absolute;
    right: 10px; 
  }
  
  .submenu .dropdown-item::after {
    content: ''; 
  }

  .dropdown-menu{
    transform: translate3d(5px, 35px, 0px)!important;
}
  
  /* Responsividad */
  @media (max-width: 768px) {
    .submenu {
      left: 50%; 
      top: 100%;
      margin-left: 0;
      margin-top: 0.5rem;
    }
  }
  