.footer {
    width: 100%; /* Ancho completo */
    background-color: #fcd477; /* Color de fondo */
    display: flex;
    justify-content: end; /* Mantiene espacio entre los elementos */
    align-items: center; /* Centra verticalmente los elementos */
    bottom: 0;
    margin-top: 2vh;
    position: static;
}


.contenedorCafe {
    display: flex;
}

.footerVistaFavoritos {
    position: relative
}

.cafecito{
    margin-right: 20px;
}
