.bodyHome{
    height: 94vh;
}
.contenidoHome {
    display: flex;
    flex-direction: row; /* Por defecto, en pantallas grandes */
}

.descripcionHome {
    margin-left: 15vw;
    margin-top: 10vw;
    margin-right: 5vw;
    width: 40vw; /* Ancho del texto */
}

.imagenHome {
    width: 100%;
    max-height: 80vh;/* Asegúrate de que la imagen no exceda su contenedor */
}

.botonRegistrarseBody {
    color: white;
    background-color: #e73827;
    width: 100px;
    box-shadow: 2px 2px 2px rgb(100, 100, 100);
    padding: 10px;
    border: none;
    border-radius: 100px;
}

/* Media Query para pantallas hasta 700px */
@media (max-width: 700px) {
    .bodyHome {
        flex-direction: column;
        align-items: center; 
    }

    .descripcionHome {
        margin-left: 0; /* Elimina el margen izquierdo */
        margin-right: 0;
        margin-top: 20px; /* Ajusta el margen superior si es necesario */
        width: auto; /* Permite que el ancho sea automático */
        text-align: center; /* Centra el texto */
        font-size: 16px; /* Ajusta el tamaño de fuente si es necesario */
        line-height: 1.4; /* Mejora la legibilidad con mayor interlineado */
        padding-bottom: 20px; /* Añade espacio debajo del texto */
    }

    .imagenHome {
        width: auto; /* Permite que la imagen mantenga su proporción sin exceder su contenedor */
        max-width: 90%; /* Limita el ancho máximo de la imagen */
        height: auto; /* Mantiene la proporción de la imagen */
        margin-top: 20px; /* Añade un margen superior para separar la imagen del texto */
        margin-left: 5%;
    }

    .botonRegistrarseBody {
        width: auto; /* Haz el botón más ancho en pantallas pequeñas */
        max-width: 150px; /* Limita el ancho máximo del botón */
        padding: 12px; /* Aumenta el padding para hacerlo más clicable */
        font-size: 16px; /* Ajusta el tamaño de fuente del botón si es necesario */
    }
}

/* Media Query adicional para pantallas hasta 430px*/
@media (max-width: 430px) {
    .descripcionHome h1 {
        font-size: 24px; /* Reduce el tamaño del título en pantallas muy pequeñas */
    }

    .descripcionHome h4 {
        font-size: 18px; /* Reduce el tamaño del subtítulo en pantallas muy pequeñas */
    }
}