.menu-header {
    background-color: #F7B733;
    text-align: center;
    padding: 10px;
}
.menu-day {
    background-color: #F7B733;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}
