/* Navbar público */

.navbar {
    width: 100vw;
    padding: 20px;
    background-color: #f9c039;
    
}

.botonIniciarSesion {
    background-color: #cdcccd;
    width: 100px;
    box-shadow: 2px 2px 2px rgb(100, 100, 100);
    padding: 10px;
    border: none;
    border-radius: 100px;
}

.LogoChefEnCasa {
    width: 20vw;
    min-width: 150px;
    max-width: 250px;
}

.botonClickHere {
    background-color: #f9c039;
    border: none;
    color: blue;
}

/* Navbar Privado */

.botonPerfil {
    background-color: #f9c039;
    width: 100px;
    padding: 10px;
    border: none;
}