.container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .recipe-header h2 {
    font-size: 2rem;
    font-weight: bold;
  }
  
  .recipe-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .ingredientes {
    background-color: #f9c039;
    border-radius: 10px;
  }
  
  .ingredientes ul {
    list-style: none;
    padding-left: 0;
  }

  .col-10.col-md-6.rounded {
    max-height: 50vh;
    overflow-y: auto;
  }
  
 
  
  
  
  .receta-img {
    max-width: 100%; 
    width: 100%; 
    height: auto;
    object-fit: cover;
    border-radius: 10px;
  }
  .note-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .btn-receta{
    background-color: #ff7f00;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    
      margin-right: 10px; 
    
  }
  .buttonBottom{
    display: flex;
    justify-content: center;
    margin-left: 20em;
  }
  .btn-receta:hover {
    background-color: #e06b00;
  }
  
  .margin-left {
    margin-left: 15px;
  }
  
  /* Responsividad */
  @media (max-width: 768px) {
    .recipe-content {
      flex-direction: column;
    }
  
    .note-section {
      flex-direction: column;
    }
  }