.vistaResetPassword {
    background-image: url('https://img.freepik.com/foto-gratis/cuadro-comida-hot-dogs-verduras_23-2148242549.jpg'); /* Cambia a la ruta de tu imagen */
    background-size: cover; /* Cubre todo el contenedor */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center; /* Centra verticalmente */
    
}

.resetPasswordContenedor {
    background-color: #f9c039;
    display: flex;
    flex-direction: column; /* Cambia a columna para apilar elementos */
    justify-content: center;
    align-items: center; /* Centra horizontalmente */
    max-width: 600px;
    position: relative;
    min-height: 400px;
    padding: 30px;    
    border-radius: 30px;
}

.titlePassword {
    margin-bottom: 6vh;
    font-size: x-large;
}

.inputResetPassword {
    display: flex; /* Usa flexbox para alinear los inputs */
    flex-direction: column; /* Apila los elementos verticalmente */
  border-radius: 5px;
  
}

.inputResetPassword p {
    margin-bottom: 5px; /* Espacio entre el texto y el input */
    
  border-radius: 5px;
}

.inputResetPassword input {
    margin-bottom: 15px; /* Espacio entre los inputs */
}

input{
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    border: 2px solid #EDEDED;
    border-radius: 5px;
    font-size: 16px;
}

.submitButton {
    align-self: flex-end; /* Alinea el botón a la derecha */
    color: white;
    background-color: #e73827;
    box-shadow: 2px 2px 2px rgb(100, 100, 100);
    padding: 10px;
    border: none;
    border-radius: 100px;
}