.vistaResetPassword {
    background-color: grey;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.resetPasswordContenedor {
    background-color: #ff7f00;
    display: grid;
    justify-content: center;
    width: 40vw;
    height: 50vh;
    margin: 10vh;
    border-radius: 30px;
    padding: 5vh;
}