.vistaResetPassword {
    background-color: grey;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center; /* Centra verticalmente */
}

.resetPasswordContenedor {
    background-color: #f9c039;
    display: flex;
    flex-direction: column; /* Cambia a columna para apilar elementos */
    justify-content: center;
    align-items: center; /* Centra horizontalmente */
    width: 40vw;
    height: 50vh;
    border-radius: 30px;
}

.titlePassword {
    margin-bottom: 6vh;
}

.inputResetPassword {
    display: flex; /* Usa flexbox para alinear los inputs */
    flex-direction: column; /* Apila los elementos verticalmente */
}

.inputResetPassword p {
    margin-bottom: 5px; /* Espacio entre el texto y el input */
}

.inputResetPassword input {
    margin-bottom: 15px; /* Espacio entre los inputs */
}

.submitButton {
    align-self: flex-end; /* Alinea el botón a la derecha */
    color: white;
    background-color: #e73827;
    box-shadow: 2px 2px 2px rgb(100, 100, 100);
    padding: 10px;
    border: none;
    border-radius: 100px;
}